@import url('http://fonts.cdnfonts.com/css/imnova-st');
@import url('http://fonts.cdnfonts.com/css/member-kinglify');
@import url('http://fonts.cdnfonts.com/css/throostle');

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ),
    url('../player-image.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
}

.content {
    padding-bottom: 300px;
}

.center {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 2px;
    top: 20%;
    left: 1%;
    margin-top: 1%;
    padding: 1% 1% 1% 1%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
    url('../grass-pattern.jpg') no-repeat center top;
    background-size: cover;
    opacity: 0.9;


}

.form-group {
    text-align: center;
    display: inline-block;
    width: 19%;
}

.formGroupExampleInput {
    background: rgb(250, 250, 250);
    padding: 4px 4px 4px 4px;
    background: rgba(250, 250, 250, 0.5);
    border-radius: 7px;
    font-family: 'Member Kinglify', sans-serif;
    font-size: 22px;
    color: #000000;
    -webkit-text-stroke: 0.3px #ffffff;
}

td {
    border-right: solid 2px #ffffff;
}

td:nth-child(1) {
    border-left: solid 2px #ffffff;

}

th:nth-child(1) {
    border-left: solid 2px #ffffff;

}

th:last-child {
    border-right: solid 2px #ffffff;

}


#game-score {
    width: 10%;
}

#id_home_team_goals {
    width: 50px;
    float: left;
    border-radius: 7px;
    border-color: #ffffff;
}

#id_away_team_goals {
    width: 50px;
    float: right;
    border-radius: 7px;
    border-color: #ffffff;
}

#id_form2-player,
#id_form3-player{
    width: 110px;
    border-radius: 7px;
    border-color: #ffffff;
}

#id_form2-card,
#id_form3-card{
    width: 70px;
    border-radius: 7px;
    border-color: #ffffff;
}

#id_form2-number_of_fouls,
#id_form2-number_of_goals,
#id_form2-number_of_assists,
#id_form3-number_of_fouls,
#id_form3-number_of_goals,
#id_form3-number_of_assists {

    width: 50px;
    border-radius: 7px;
    border-color: #ffffff;
}

.right-menu {
    border: 2px solid #ffffff;
    border-radius: 2px;
    text-align: center;
    width: 260px;
    height: auto;
    float: right;
    margin-top: 1%;
    padding: 1% 1% 1% 1%;
    background-color: #171a1d;
    opacity: 0.7;
}

.replace-team-name {
    font-family: 'Imnova St', sans-serif;
    text-align: center;
    font-size: 34px;
    color: #ffffff;
    -webkit-text-stroke: 1px #721c24;

}

a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #f35b3f;
}

/* selected link */
a:active {
    color: #f35b3f;
}

.heading-div {
    text-align: center;
    margin-top: 30px;

}

.heading-h1 {
    font-family: "Jazz LET", fantasy;
    font-size: 70px;
    color: #ffffff;
    -webkit-text-stroke: 3px #000000;

}

.add-players-button {
    display: block;
    width: 20%; /* setting the width */
    margin: 0 auto; /* this will center  it */
    position: relative;
    outline: none;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}

.myButton {
    box-shadow: 0 0 7px 2px #203b18;
    background-color: #f35a3f;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #5e635e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Courier New", serif;
    font-size: 17px;
    padding: 0 7px;
    text-decoration: none;
}

.myButton:focus {
    outline: none;
}

.myButton:active {
    position: relative;
    top: 1px;
    color: #171a1d;
    background-color: rgba(243, 91, 63, 0.75);
}

#add-home-team {
    float: right;
}

#add-away-team {
    float: right;
}

a {
    color: #f35b3f;
    border-bottom: 1px dashed #f35b3f;
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;

}

a:hover, a:focus {
    color: #f35b3f;
    border: 0;
    text-decoration: none !important;
}


/***** Sidebar *****/

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}

.sidebar.active {
    left: 0;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover, .dismiss:focus {
    background: #555;
    color: #fff;
}

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: url("/static/img/logo.png") left top no-repeat;
    border: 0;
    text-indent: -999999px;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active > a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}


.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.button.btn-customized,
.button.btn-customized:hover,
.button.btn-customized:active,
.button.btn-customized:focus,
.button.btn-customized:active:focus,
.button.btn-customized.active:focus,
.button.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.button.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}


/***** Buttons *****/


a.btn-customized, button.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
button.btn-customized:hover,
button.btn-customized:active,
button.btn-customized:focus,
button.btn-customized:active:focus,
button.btn-customized.active:focus,
button.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #cd533d;
    background: rgba(243, 91, 63, 0.7);
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-2 {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #ccc;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    color: #555;
    box-shadow: none;
}

a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .75rem 1.5rem;
    background: #444;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i, button.btn-customized {
    margin-right: 5px;
}


/***** Footer *****/


.footer-container {

    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #888;
    background-color: #ffffff;
    margin-top: 2px;


}