.team_points_table{

    padding-top: 90px;
    padding-left: 515px;
}
.table {
    width: 500px;
    padding-top: 50px;
}
body {
     background-repeat: no-repeat;
     background-position-x: center;
    background-color: darkolivegreen;
}