table#table1, th, td {
    color:black;
    position:static ;
    width:49%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;

}

#bg{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: darkolivegreen;
}