<!doctype html>
{% extends 'main.html' %}
{% load  static %}
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Style -->
        <link rel="stylesheet" href="{% static 'css/style-subpages.css' %}">
        <title>{% block title %}Player Statistic{% endblock %}</title>
    {% endblock head %}
</head>
<body>
{% block sidebar %}
{% endblock sidebar %}
{% block content %}

    <div class="content">

        <div class="container">
            <h2 class="mb-5" id="heading-name">La Liga</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th scope="col" id="league-date">Player</th>
                        <th scope="col">Match</th>
                        <th scope="col">Team</th>
                        <th scope="col">Number of Goals</th>
                        <th scope="col">Number of Assists</th>
                        <th scope="col">Number of Fouls</th>
                        <th scope="col">Card</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for o in player_statistic  %}
                             {% if not o.match == '' %}
                            <td id="team-name">{{ o.player }}</td>
                            <td>{{ o.match}}</td>
                            <td>{{ o.team_name }}</td>
                            <td>{{ o.number_of_goals}}</td>
                            <td>{{ o.number_of_assists}}</td>
                            <td>{{ o.number_of_fouls}}</td>
                            <td>{{ o.card}}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
{% endblock content %}
{% block js %}
{% endblock js %}
</body>
</html>