<!doctype html>
{% extends 'main.html' %}
{% block sidebar %}
    {% load  static %}
    <html lang="en">
    <head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Style -->
        <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
        <title>{% block title %}Queues{% endblock %}</title>
    {% endblock head %}
    </head>
    <body>


    <div class="content">

        <div class="container">
            <h2 class="mb-5">La Liga</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row">
                        {% for o in team_objects %}
                            <td>{{ o.team_name }}</td>
                            <td>{{ o.points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    {% block js %}
    {% endblock js %}
{% endblock sidebar %}
</body>
</html>