{% extends 'main.html' %}
{% load  static %}
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Style -->
        <link rel="stylesheet" href="{% static 'css/style-subpages.css' %}">
        <title>{% block title %}Queues{% endblock %}</title>
    {% endblock head %}
</head>
<body>
{% block sidebar %}
{% endblock sidebar %}
{% block content %}

    <div class="content">

        <div class="container">
            <h2 class="mb-5" id="heading-name">La Liga</h2>


            <div class="table-responsive">
                <P class="queue-number">Number of queue: 1</P>
                <table class="table table-striped custom-table">
                    <tbody>
                    {% for o in queue_objects %}
                        {% if o.queue_number == 1 %}
                            <tr>
                                <td>{{ o.home_team }}</td>
                                <td>{{ o.home_team_goals }}</td>
                                <td>:</td>
                                <td>{{ o.away_team_goals }}</td>
                                <td>{{ o.away_team }}</td>
                                <td>{{ o.match_date }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <P class="queue-number">Number of queue: 2</P>
                <table class="table table-striped custom-table">
                    <tbody>
                    {% for o in queue_objects %}
                        {% if o.queue_number == 2 %}
                            <tr>
                                <td>{{ o.home_team }}</td>
                                <td>{{ o.home_team_goals }}</td>
                                <td>:</td>
                                <td>{{ o.away_team_goals }}</td>
                                <td>{{ o.away_team }}</td>
                                <td>{{ o.match_date }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <P class="queue-number">Number of queue: 3</P>
                <table class="table table-striped custom-table">
                    <tbody>
                    {% for o in queue_objects %}
                        {% if o.queue_number == 3 %}
                            <tr>
                                <td>{{ o.home_team }}</td>
                                <td>{{ o.home_team_goals }}</td>
                                <td>:</td>
                                <td>{{ o.away_team_goals }}</td>
                                <td>{{ o.away_team }}</td>
                                <td>{{ o.match_date }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <P class="queue-number">Number of queue: 4</P>
                <table class="table table-striped custom-table">
                    <tbody>
                    {% for o in queue_objects %}
                        {% if o.queue_number == 4 %}
                            <tr>
                                <td>{{ o.home_team }}</td>
                                <td>{{ o.home_team_goals }}</td>
                                <td>:</td>
                                <td>{{ o.away_team_goals }}</td>
                                <td>{{ o.away_team }}</td>
                                <td>{{ o.match_date }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <P class="queue-number">Number of queue: 5</P>
                <table class="table table-striped custom-table">
                    <tbody>
                    {% for o in queue_objects %}
                        {% if o.queue_number == 5 %}
                            <tr>
                                <td>{{ o.home_team }}</td>
                                <td>{{ o.home_team_goals }}</td>
                                <td>:</td>
                                <td>{{ o.away_team_goals }}</td>
                                <td>{{ o.away_team }}</td>
                                <td>{{ o.match_date }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock content %}
{% block js %}
{% endblock js %}
</body>
</html>