<!doctype html>
{% extends 'main.html' %}
{% block sidebar %}
    {% load  static %}
    <html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <!-- Style -->
            <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
            <title>{% block title %}Shooters Rank{% endblock %}</title>
        {% endblock head %}
    </head>
    <body>


    <div class="content">

        <div class="container">
            <h2 class="mb-5">TOP 10 SHOOTERS</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Team</th>
                        <th scope="col">Number of goals</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for o in player_rank %}
                            <td>{{ o.first_name }}</td>
                            <td>{{ o.last_name }}</td>
                            <td>{{ o.team }}</td>
                            <td>{{ o.number_of_goals }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    {% block js %}
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock js %}
{% endblock sidebar %}
</body>
</html>