<!doctype html>
{% extends 'main.html' %}
{% block sidebar %}
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        {% load  static %}
        <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Style -->
        <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
        <title>Teams</title>

    </head>
    <body>


    <div class="content">

        <div class="container">
            <h2 class="mb-5">TEAMS</h2>


            <div class="table-responsive">
                <p>
                    <a class="more">Details</a>
                </p>
                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th scope="col">Team</th>
                        <th scope="col">Stadium</th>
                        <th scope="col">Coach</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">League</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row">
                        {% for o in team_objects %}
                            <td>{{ o.team_name }}</td>
                            <td>{{ o.stadium_name }}</td>
                            <td>{{ o.coach_name }}</td>
                            <td>{{ o.creation_date }}</td>
                            <td>{{ o.league_name }}</td>
                            </tr>
                            <tr>
                                {% for i in o.player_set.all %}
                                    <tr class="details-list">

                                    <td>{{ i.first_name }}</td>
                                    <td>{{ i.last_name }}</td>
                                    <td>{{ i.date_of_birth }}</td>
                                    <td>{{ i.player_position }}</td>
                                    <td>{{ i.country }}</td>
                                    <td>{{ i.team }}</td>
                                {% endfor %}

                                </tr>

                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/dropdownmenu.js' %}"></script>
{% endblock sidebar %}
</body>
</html>